extend default
			
block content
	.add-page
		.form
			form.add-student(action='/submit_add', method = 'GET')
				p Please enter all of the following information about the new student being entered.
				input(type='text', name='f_name', placeholder='Student\'s First Name')
				p
				input(type='text', name='l_name', placeholder='Student\'s Last Name')
				p
				input(type='text', placeholder='Student ID')
				input(type = 'submit' value = 'Submit')
