extend default
			
block content
	.add-page
		.form
			form.add-student(action='/submit_add', method = 'GET')
				p Please enter all of the following information about the new student being entered.
				input(type='text', name='f_name', placeholder='Student\'s First Name')
				p
				input(type='text', name='l_name', placeholder='Student\'s Last Name')
				p
				input(type='text', name= 'st_id', placeholder='Student ID')
				input(type='text', name= 'degree', placeholder='Degree')
				input(type='text', name= 'degree_level', placeholder='Degree Level')
				input(type='text', name= 'grad_term', placeholder='Graduation Term')
				input(type='text', name= 'grad_year', placeholder='Graduation Year')
				input(type='text', name= 'ext_mail', placeholder='External E-Mail')
				input(type='text', name= 'uw_mail', placeholder='UW E-Mail')
				input(type='text', name= 'gpa', placeholder='GPA')
				button(onclick="move(); type='submit', return false;") Add New Student
