extend default
			
block content
	.delete-page
		.form
			form.delete-student(action='/submit_delete', method = 'GET')
				p Please enter id of the student to delete.
				input(type='text', name='st_id', placeholder='Student ID')
				button(onclick="move(); type='submit', return false;") Delete Student