extend default
			
block content
	.edit-page
		.form
			form.edit-student(action='/loaded_student_report', method = 'GET')
				p Update.
				input(type='text', name='st_id', placeholder='Student ID')
				//- button(onclick="loaded_student_move(); type='submit', return false;") Load Student
				input(type='text', name='f_name', placeholder='Student\'s First Name')
				input(type='text', name='l_name', placeholder='Student\'s Last Name')
				input(type='text', name= 'ext_mail', placeholder='External E-Mail')
				input(type='text', name= 'uw_mail', placeholder='UW E-Mail')
				button(onclick="move(); type='submit', return false;") Update