extend default
			
block content
	.edit-page
		.form
			form.edit-student(action='/loaded_student_report', method = 'GET')
				p Please enter id of the student to edit.
				input(type='text', name='st_id', placeholder='Student ID')
				button(onclick="loaded_student_move(); type='submit', return false;") Load Student
