extend default
			
block content
	.loaded-student-page
		.form
			form.loaded-student(action='/back_homepage', method = 'GET')
				input(type='text', name='f_name', placeholder='Student\'s First Name')
				input(type='text', name='l_name', placeholder='Student\'s Last Name')
				input(type='text', name= 'ext_mail', placeholder='External E-Mail')
				input(type='text', name= 'uw_mail', placeholder='UW E-Mail')
				button(onclick="move(); type='submit', return false;") Update
