extend default
			
block content
	.lookup-student-page
		.form
			form.lookup-student(action='/loaded_lookup_student_report', method = 'GET')
				p Please enter id of the student to look up.
				input(type='text', name='st_id', placeholder='Student ID')
				//input(type='text', name='f_name', placeholder='Student\'s First Name')
				button(onclick="loaded_lookup_move(); type='submit', return false;") Find Student
